.content {
	display:flex;
	flex-direction: row;
	justify-content: center;
}

h1{
	color : #0099FF;
	font-size : 60px;
	text-align : center;
}

h4{
	color : black;
	font-size : 40px;
}

#cadreadd{
	width : 500px;
	height: 500px;
	text-align:center;
	margin-left:15px;
	border : solid grey 2px;
	border-radius : 20px;
}

#cadremodify{
	width : 500px;
	height: 500px;
	text-align:center;
	margin-left:15px;
	border : solid grey 2px;
	border-radius : 20px;
}

#cadreUserModify{
	width : 500px;
	height: 350px;
	text-align:center;
	margin-left:15px;
	border : solid grey 2px;
	border-radius : 20px;
}

#cadresup{
	width : 500px;
	height: 500px;
	text-align:center;
	margin-left:15px;
	border : solid grey 2px;
	border-radius : 20px;
}

#cadreaddgroup{
	width : 500px;
	height: 400px;
	text-align:center;
	margin-left:15px;
	border : solid grey 2px;
	border-radius : 20px;
}

#cadremodifygroup{
	width : 500px;
	height: 400px;
	text-align:center;
	margin-left:15px;
	border : solid grey 2px;
	border-radius : 20px;
}

#cadresupgroup{
	width : 500px;
	height: 400px;
	text-align:center;
	margin-left:15px;
	border : solid grey 2px;
	border-radius : 20px;
}


#texte{
	margin-top: 5px;
	font-size:20px;
	text-align:center;
}

.tabAjout{
	margin-top: 5px;
	font-size:20px;
	text-align:center;
	margin-left:25px;
}


.button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */

.form-control{
	width:100px;
}
